{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}


{% block content %}
<p class="lead">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod id elit vel varius. Nam nec nibh orci. In tristique eros non pharetra semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris eu lobortis felis. Pellentesque pretium eu metus et dapibus. Phasellus sodales libero at ipsum volutpat, quis dignissim mauris fermentum. Nunc accumsan est id mi venenatis, id hendrerit elit maximus. In hac habitasse platea dictumst. Aliquam in sodales ipsum. Cras ultrices pretium facilisis. Praesent et odio quis sem ullamcorper ullamcorper eget eget ante. Pellentesque non urna at augue ornare vulputate vel id mauris. Mauris a elit id lectus aliquet vestibulum a a libero. Quisque aliquam lorem urna, ut tristique purus egestas nec. In leo ex, blandit vitae nunc ut, consectetur hendrerit lorem.

</p>


<p class="lead">
          <a href="https://t.me/GOLD_SIGNAL_TESTE" class="btn btn-lg btn-secondary">Joindre</a>
        </p>

{% endblock %}